
.contenedor-ditail {
   margin:0;
   padding: 0;
   font-family: sans-serif;
   font-size: 1.5em;
   font-weight: bold;
   display: flex;
   min-height: 100vh;
}
.detalles,.foto {
    width: 50%;

   

}
.foto {
    
    
}

img{
    width: 100%;
    height: auto;
}










/* .contenedor-ditail {
    margin: auto;
    margin-top: 50px;
    width: 960px;
    height: 800;
    
    
    position:relative;
    
    background-color:red;
}
.detalles {
    
    top:0;
    left:100%;
    width:200px;
    background-color: blue;

}
.foto {
    
     top:0;
     left:0;
     width:200px;
     background-color: yellow;
}
 */
























